* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
}
a {
	text-decoration: none;
}

/*CONTENEDOR PRINCIPAL*/
.container {
	display: flex;
	flex-flow: column nowrap;
}
.margin-internal {
	padding: 0 50px;
}

/*CONTENEDOR DE HEADER*/
.header {
	background: url(../images/background_header.jpg);
	background-position: center;
	background-attachment: contain;
	background-size: cover;
	display: flex;
	flex-flow: column nowrap;
}
.menu {
	background: rgba(0, 0 ,0, .1);
	display: flex;
	flex-flow: row nowrap;
	height: 100px;
	align-items: center;
	border-bottom: 1px solid rgba(255, 255, 255, .5);
}
.logo {
	flex: 1 1 auto;
}
.logo a {
	color: #FFF;
	font-size: 25px;
}
.logo a:hover {
	color: #343434;
}
.pages {
	flex: 5 1 auto;
}
.pages a {
	color: #FFF;
	text-transform: uppercase;
	font-size: 10px;
	padding: 0 10px;
	letter-spacing: 2.5px;
}
.pages a:hover {
	color: #343434;
}
.social {
	flex: 1 1 auto;
	display: flex;
}
.social a {
	font-size: 15px;
	color: #FFF;
	padding: 0 5px;
}
.social a:hover {
	color: #343434;
}
.text-welcome {
	height: 600px;
	display: flex;
	align-items: center;
}
.text-welcome h1 {
	font-family: 'Lore', serif;
	font-size: 20px;
	color: #FFF;
	font-weight: 300;
	text-align: center;
	line-height: 1.5;
}

/*CONTENEDOR DE SECTION*/
.section {
	background: #F7F7F7;
	display: flex;
}
.articles {
	background: #F7F7F7;
	flex: 2 1 auto;
	display: flex;
	flex-flow: row wrap;
}
.article {
	background: #ECECEC;
	flex: 1 1 45%;
	color: #444;
	font-size: 12px;
	letter-spacing: 1px;
	margin: 10px 10px 0 0;
}
.article img {
	width: 100%;
}
.article h3 {
	font-size: 15px;
	padding: 10px 0;
	margin-top: -75px;
	color: #FFF;
}
.article h2 {
	font-size: 20px;
	padding: 0 0 10px 0;
	text-transform: uppercase;
	color: #FFF;
}
.article a {
	color: #FFF;
	font-size: 15px;
	padding: 10px;
	margin: 10px 0;
	background: #000;
	display: inline-block;
}
.article a:hover {
	background: #546CC3;
}
.navigation {
	flex: 1 1 100%;
	margin: 10px 10px 0 0;
	background: #444;
}
.navigation a {
	font-size: 12px;
	padding: 0 10px;
	letter-spacing: 2.5px;
	color: #FFF;
	text-transform: uppercase;
}
.aside {
	flex: 1 1 auto;
	margin: 10px 5px 10px 0;
}
.publicity h4 {
	background: #000;
	color: #FFF;
	padding: 10px;
	text-transform: uppercase;
}

/*CONTENEDOR DE FOOTER*/
.footer {
	background: #000;
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
.pie {
	width: 50%;	
	text-align: center;
	padding: 5px 0;
}
.pie p {
	color: #FFF;
}

/*RESPONSIVE*/
@media all and (max-width: 768px) {
	.section {
		flex-direction: column;
	}
	.menu {
		flex-direction: column;
		height: auto;
	}
	.aside {
		display: flex;
		justify-content: center;
	}
}

@media all and (max-width: 480px) {
	.articles {
		flex-direction: column;
	}
	.aside {
		flex-direction: column;
	}
}